* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
}
ul {
    display: inline-block;
}
.right-nav {    
    float: right;
}
#logo {
    width: 91px ;
}
.button {
    color: green;
    border: green 2px solid;
    border-radius: 6px;
    padding: 5px 10px;
}
li:hover {
    color: green;
}
.hero-banner1 {
    z-index: 0;
    position: relative;
}
.title1 {
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 200px;
}
.greenbg {
    height: 500px;
    background-color: green;
}
.center {
    width: 700px;
    font-size: 40px;
    color: white;
    margin: 0 auto;
    padding-top: 100px; 
    text-align: center;
}
#buttonwhite {
    background-color: white;
    color: green;
    font-size: 24px;
    padding: 20px;
}
.card {
  display: inline-block;
  width: 33%;
  background-color: gold;  
  height: 400px;
  overflow: hidden;
}
.big-card {
    display: inline-block;
  width: 66%;
  background-color: gold;  
  height: 400px;
  overflow: hidden;
  position: relative;
}